{% extends "base.html" %}
{% load unicorn %}
{% block content %}
    <section id="colonnes">
        <div class="container mx-auto flex flex-col items-center justify-center">
            <div class="mt-4 mb-4 justify-center items-center mx-auto">
            <img class="h-[80px]" src="static/img/roda.jpg" alt="">
            </div>
            <div class="w-full max-w-sm bg-white p-8 rounded-lg shadow-lg">
                <h2 class="text-2xl font-bold text-center mb-6">Inscription</h2>

                <form method="POST" action="{% url 'sign_in' %}" class="space-y-4">
                    {% csrf_token %}
                    {% for field in form %}
                    
                        {% if field.errors %}
                        
                            <div class="mb-3">
                                <label class="block text-sm font-medium mb-1" >{{field.label}}</label>
                                {{field}}
                                <small>{{field.errors}}</small>
                            </div>
                            {% else %}
                            <div class="mb-3">
                                <label class="block text-sm font-medium mb-1" >{{field.label}}</label>
                                {{field}}
                            </div>
                        
                        {% endif %}
                    
                    {% endfor %}

                    <!-- Bouton -->
                    <div>
                        <button type="submit" class="w-full bg-blue-500 text-white font-bold py-2 rounded-md hover:bg-blue-600 transition-colors">
                            S'inscrire
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </section>

{% endblock content %}